*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

.contenedorPrincipal{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('https://th.bing.com/th/id/R.d7e2c996ba4a5960da1b5fc90a31f3be?rik=C7qznfiyAwSj3A&pid=ImgRaw&r=0');
    flex-direction: column;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    min-width: 380px;
}

.contenedorPrincipal::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000009d;
}
button.cont_menuBar{
    display: none;
}
.cont_menuBar{
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 900;
    margin-top: 10px;
    >nav{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        >ul{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.menuBar>ul>li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 120px;
    height: 100%;
    transition: .3s linear;
    cursor: pointer;
    >a{
        text-decoration: none;
        color: white;
    }
}
.menuBar>ul>li:hover{
    background-color: #e0e0e044;
    transition: .3s linear;
}

.principalPresentacion{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 800;
    padding: 0px 20px;
    >h1{
        font-size: 3em;
        color: white;
    }
    >p{
        color: white;
        font-size: 1.5em;
    }
    >button{
        height: 60px;
        padding: 0px 30px;
        font-size: 1em;
        background-color: rgb(0, 137, 216);
        color: #ffff;
        font-weight: 600;
        border-radius: 10px;
        cursor:pointer;
        margin-top: 30px;
        border: none;
    }
}

@media (max-width:500px) {
    .background{
        display: flex;
        border-radius: 5px;
        background: rgb(74, 74, 74);
        /*mix-blend-mode: luminosity;*/
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.199);
        backdrop-filter: blur(15px);
        width: 35px;    
        height: 35px;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999;
        left: 10px;
        top: 10px;
    }

    /* <reset-style> ============================ */
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }
  /* <style for menu__icon> ======== */
  .menu__icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    transition: transform .4s;
  }
  
  .menu__icon span {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgb(2, 96, 196);
    box-shadow: 0 .5px 2px 0 hsl(0, 0%, 0%);
    transition: width .4s, transform .4s, background-color .4s;
  }
  
  .menu__icon :nth-child(2) {
    width: 75%;
  }
  
  .menu__icon :nth-child(3) {
    width: 50%;
  }
  
  .menu__icon:hover {
    transform: rotate(-90deg);
  }
  
  .menu__icon:hover span {
    width: .25rem;
    transform: translateX(-10px);
    background-color: rgb(194, 10, 0);
  }

    .cont_menuBar{
        height: 100%;
        width: 60%;
        position: fixed;
        z-index: 999;
        left: 0%;
        transition: linear .2s;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        margin-top: 0%;
        >nav{
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.808);
            >ul{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction:column;
                padding: 60px 0px;
            }
        }
    }
    .cerrado{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: linear .2s;
    }
    .menuBar>ul>li{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 100%;
        height: 50px;
        transition: .3s linear;
        cursor: pointer;
        >a{
            text-decoration: none;
            color: white;
        }
    }
}


